.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: brightness(0.5);
  z-index: 100000;

  .loading-icon {
    width: 48px;
    height: 48px;
  }

  .loading-text {
    text-align: center;
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    margin-left: 0.5rem;
  }
}
