.switch {
  display: inline-flex;
  vertical-align: top;
  justify-content: center;
  align-items: center;

  .switch-input {
    display: none;

    &:checked + .switch-input-ui {
      background-position: center right;
      background-color: var(--switch-active-background, var(--color-gray-200));
    }
  }

  .switch-input-ui {
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem !important;
    background-color: var(--switch-background, var(--color-gray-200));
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFFFFF'/%3e%3c/svg%3e");
  }

  .switch-label {
    user-select: none;
    color: var(--color-gray-600);
    font-size: 12px;
    font-weight: 500;
    margin-left: 0.5rem;
  }
}

@each $color in getComponentColors() {
  $name: getItem($color, name);

  .switch-$(name) {
    .switch-input:checked + .switch-input-ui {
      background-color: getItem($color, color);
    }
  }
}
